<!DOCTYPE html>
<html>

<head>
	<title>Politics For Dummies</title>
	<link rel="stylesheet" type="text/css" href="css/app.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
</head>
<body>

<header>
	<h1>Political Hub</h1>
	<form>
		<button class="logOut dash settings hidden" type="submit" value="Submit" name="logOut">Log Out</button>
	</form>
</header>

<section class="userAccounts page">
	<div class="about"> Welcome to my humble political app.
		When you sign up, you can enter your location
		and receive information on all of your political
		representatives on multiple levels. 
	</div>
	<div class="logInBox">
		<form class="logIn">
			<h3>Log In</h3>
			<label for="username1">Username </label><input id="username1" type="text" name="username" required><br>
			<label for="password1">Password </label><input id="password1" type="password" name="password" required><br>
			<button type="submit" value="Submit">Sign In</button>
		</form>
		<span></span>
	</div>
	<div class="signUp">
		<form class="createAccount">
			<h3>Sign Up</h3>
			<label for="username2">Username </label><input id="username2" type="text" name="username" required><br>
			<label for="firstname">First Name </label><input id="firstName" type="text" name="firstName"><br>
			<label for="lastname">Last Name </label><input id="lastName" type="text" name="lastName"><br>
			<label for="password2">Password </label><input id="password2" type="password" name="password" required><br>
			<button type="submit" value="Submit">Submit</button>
		</form>
		<span></span>
	</div>
</section>


<section class="settings page hidden">

	<div class="bio">
		<p class="unBio">Username: <span></span></p>
		<p class="fullNameBio">Name: <span></span></p>
	</div>

	<div class="query">
	<form id="location" class="location">
		<p>Address: </p><input class="address" type="text" name="street"><br>
		<span></span>
		<button type="submit" value="Submit">Enter Location</button>
	</form>

	</div>
</section>

<section class="dash page hidden">
	<div class="dashNav">
		<div class="results-for">
			<p><span></span></p>
		</div>
		<div class="navSettings">
			<a href="/#settings">Change Location</a>
		</div>
	</div>
	<div class="display">
		<div class="country">
			<p class="level">Country</p>
			<div class="president">
				<p class="title">President</p>
				<p class="name info">Name: <span></span></p>
				<p class="party info">Party: <span></span></p>
				<p class="address info">Address: <span></span></p>
				<p class="phone info">Phone: <span></span></p>
				<p class="website info">Website: <a></a></p>
			</div>

			<div class="vicePresident">
				<p class="title">Vice President</p>
				<p class="name info">Name: <span></span></p>
				<p class="party info">Party: <span></span></p>
				<p class="address info">Address: <span></span></p>
				<p class="phone info">Phone: <span></span></p>
				<p class="website info">Website: <a></a></p>
			</div>
		</div>
		<div class="state">
			<p class="level">State</p>
			<div class="senate1">
				<p class="title">Senate</p>
				<p class="name info">Name: <span></span></p>
				<p class="party info">Party: <span></span></p>
				<p class="address info">Address: <span></span></p>
				<p class="phone info">Phone: <span></span></p>
				<p class="website info">Website: <a></a></p>
			</div>

			<div class="senate2">
				<p class="title">Senate</p>
				<p class="name info">Name: <span></span></p>
				<p class="party info">Party: <span></span></p>
				<p class="address info">Address: <span></span></p>
				<p class="phone info">Phone: <span></span></p>
				<p class="website info">Website: <a></a></p>
			</div>

			<div class="governor">
				<p class="title">Governor</p>
				<p class="name info">Name: <span></span></p>
				<p class="party info">Party: <span></span></p>
				<p class="address info">Address: <span></span></p>
				<p class="phone info">Phone: <span></span></p>
				<p class="website info">Website: <a></a></p>
			</div>
		</div>
		<div class="city">
			<p class="level">City</p>
			<div class="mayor">
				<p class="title">Mayor</p>
				<p class="name info">Name: <span></span></p>
				<p class="party info">Party: <span></span></p>
				<p class="address info">Address: <span></span></p>
				<p class="phone info">Phone: <span></span></p>
				<p class="website info">Website: <a></a></p>
			</div>
			<div class="cityClerk">
				<p class="title">City Clerk</p>
				<p class="name info">Name: <span></span></p>
				<p class="party info">Party: <span></span></p>
				<p class="address info">Address: <span></span></p>
				<p class="phone info">Phone: <span></span></p>
				<p class="website info">Website: <a></a></p>
			</div>
		</div>


	</div>
</section>


	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="js/app.js"></script>
</body>
</html>