<!DOCTYPE html>
<html>
<head>
	<title>Politics For Dummies</title>

	<link rel="stylesheet" type="text/css" href="css/app.css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
	<h1>Political Hub</h1>
	<form>
    	<button class="logOut dash settings hidden" type="submit" value="Submit" name="logOut">Log Out</button>
	</form>
</header>

<section class="userAccounts page">
	<div class="about"> Welcome to my humble political app. <br />
		When you sign up, you can enter your location <br />
		and receive information on all of your political <br />
		representatives on multiple levels. 
	</div>
	<div class="logInBox">
		<form class="logIn">
			<h3>Log In</h3>
			<p>Username </p><input class="username" type="text" name="username"><br>
			<p>Password </p><input class="password" type="password" name="password"><br>
			<button type="submit" value="Submit">Sign In</button>
		</form>
	</div>
	<div class="signUp">
		<form class="createAccount">
			<h3>Sign Up</h3>
			<p>Username </p><input class="usernameCreate" type="text" name="username"><br>
			<p>First Name </p><input class="firstName" type="text" name="firstName"><br>
			<p>Last Name </p><input class="lastName" type="text" name="lastName"><br>
			<p>Password </p><input class="passwordCreate" type="password" name="password"><br>
			<button type="submit" value="Submit">Submit</button>
		</form>
	</div>
</section>


<section class="settings page hidden">

		<div class="bio">
			<p class="unBio">Username: <span></span></p>
			<p class="fullNameBio">Name: <span></span></p>
		</div>

		<div class="query">
		<form id="location" class="location">
			<p>Address: </p><input class="address" type="text" name="street"><br>
			<span></span>
			<button type="submit" value="Submit">Submit</button>
		</form>

		</div>
	</section>

	<section class="dash page hidden">
		<div class="dashNav">
			<div class="results-for">
				<p><span></span></p>
			</div>
			<div class="navSettings">
				<a href="/#settings">Change Location</a>
			</div>
		</div>
		<div class="display">
			<div class="Country">
				<p class="level">Country</p>
				<div class="president">
					<p class="title">President</p>
					<p class="name info">Name: <span></span></p>
					<p class="party info">Party: <span></span></p>
					<p class="address info">Address: <span></span></p>
					<p class="phone info">Phone: <span></span></p>
					<p class="website info">Website: <span></span></p>
				</div>

				<div class="vicePresident">
					<p class="title">Vice President</p>
					<p class="name info">Name: <span></span></p>
					<p class="party info">Party: <span></span></p>
					<p class="address info">Address: <span></span></p>
					<p class="phone info">Phone: <span></span></p>
					<p class="website info">Website: <span></span></p>
				</div>
			</div>
			<div class="state">
				<p class="level">State</p>
				<div class="senate1">
					<p class="title">Senate</p>
					<p class="name info">Name: <span></span></p>
					<p class="party info">Party: <span></span></p>
					<p class="address info">Address: <span></span></p>
					<p class="phone info">Phone: <span></span></p>
					<p class="website info">Website: <span></span></p>
				</div>

				<div class="senate2">
					<p class="title">Senate</p>
					<p class="name info">Name: <span></span></p>
					<p class="party info">Party: <span></span></p>
					<p class="address info">Address: <span></span></p>
					<p class="phone info">Phone: <span></span></p>
					<p class="website info">Website: <span></span></p>
				</div>

				<div class="governor">
					<p class="title">Governor</p>
					<p class="name info">Name: <span></span></p>
					<p class="party info">Party: <span></span></p>
					<p class="address info">Address: <span></span></p>
					<p class="phone info">Phone: <span></span></p>
					<p class="website info">Website: <span></span></p>
				</div>
			</div>
			<div class="city">
				<p class="level">City</p>
				<div class="mayor">
					<p class="title">Mayor</p>
					<p class="name info">Name: <span></span></p>
					<p class="party info">Party: <span></span></p>
					<p class="address info">Address: <span></span></p>
					<p class="phone info">Phone: <span></span></p>
					<p class="website info">Website: <span></span></p>
				</div>
				<div class="cityClerk">
					<p class="title">City Clerk</p>
					<p class="name info">Name: <span></span></p>
					<p class="party info">Party: <span></span></p>
					<p class="address info">Address: <span></span></p>
					<p class="phone info">Phone: <span></span></p>
					<p class="website info">Website: <span></span></p>
				</div>
			</div>


		</div>
	</section>


	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="js/app.js"></script>
</body>
</html>