<!DOCTYPE html>
<html>
<head>
	<title>Politics For Dummies</title>

	<link rel="stylesheet" type="text/css" href="css/login.css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
	<h1>Political Hub</h1>
	
</header>

	<section class="userAccounts page">
		<div class="logInBox">
			<form class="logIn">
				<h3>Log In</h3>
				<p>Username </p><input class="username" type="text" name="username"><br>
				<p>Password </p><input class="password" type="password" name="password"><br>
				<button type="submit" value="Submit">Sign In</button>
			</form>
		</div>
		<div class="signUp">
			<form class="createAccount">
				<h3>Sign Up</h3>
				<p>Username </p><input class="usernameCreate" type="text" name="username"><br>
				<p>First Name </p><input class="firstName" type="text" name="firstName"><br>
				<p>Last Name </p><input class="lastName" type="text" name="lastName"><br>
				<p>Password </p><input class="passwordCreate" type="password" name="password"><br>
				<button type="submit" value="Submit">Submit</button>
			</form>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="js/login.js"></script>
</body>
</html>